body{
    background-color: whitesmoke;
    color: rgb(255, 255, 255);
}
.grid-container{
    display: grid;
    background-color: rgb(4, 177, 62);
    height: 1024px;
    width: 768px;
    
    
    
}
.caja{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    line-height: 100 px;
    background-color: rgb(215, 231, 64);
}
.caja1{
    grid-column: 1 /5;
    border-top: 400px;
    height: 160px;
    background-color: rgb(61, 52, 199);
}
.caja2{
    grid-column: 1/2 ;
    grid-row: 2/3;
    width: 200px;
    background-color: rgb(160, 42, 26);
}
.caja3{
    grid-column: 3/4;
    grid-row: 2/3;
    height: 290px;
    width: 550px;
    background-color: rgb(187, 92, 30);
}
.caja4{
    grid-column: 3/4;
    grid-row: 3/5;
    height: 290px;
    width: 550px;
    background-color: rgb(218, 103, 26);
}
.caja5{
    grid-column: 3/4;
    height: 290px;
    width: 550px;
    background-color: rgb(201, 91, 17);
    
}
.caja6{
    grid-column: 1 / 5;
    border-top: 30px;
    height: 250px;
    background-color: rgb(97, 63, 143);
}
